<div class="header">
    <h1 class="page-header">
        菜单管理
    </h1>
    <ol class="breadcrumb">
        <li><a href="#">系统信息</a></li>
        <li class="active">添加菜单</li>
    </ol>
</div>

<div id="page-inner">
    <div class="row">
        <div class="col-lg-12">
            <div class="card-content">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input  id="name" type="text" class="validate" value="">
                            <label for="name">菜单名称</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="mca" type="text" class="validate" value="">
                            <label for="mca">URL地址</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input id="order" type="text" class="validate" value="">
                            <label for="order">排序</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input type="button" class="btn" value="添加" id="saveMenu">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#saveMenu').click(function(){
        var name = $('#name').val();
        var mca = $('#mca').val();
        var order = $('#order').val();
        if(name == '' || mca == ''){
            layer.msg('菜单名称和地址必填');
            return false;
        }
        $.ajax({
            url: requestUrl + "index/index/saveMenu",
            data:{'name':name,'mca':mca,'order':order},
            type:"Post",
            dataType:"json",
            success:function(data){
                layer.msg(data.msg,{icon: 1});
                if(data.errorCode == '0'){
                    window.location.href = requestUrl + "index/index";
                }
            },
            error:function(data){
                layer.msg(data.msg,{icon: 1});
            }
        });
    })

</script>