<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>后台管理系统</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="__CSS__/assets/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="__CSS__/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="__CSS__/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="__CSS__/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="__CSS__/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="__CSS__/assets/js/Lightweight-Chart/cssCharts.css">

    <!--底部js引用-->
    {include file="Layout/footer" /}
</head>

<body>
<div id="wrapper">
    <!--头部菜单-->
    {include file="Layout/header" /}

    <!--左侧菜单-->
    {include file="Layout/left" /}

    <!--内容-->
    <div id="page-wrapper">
        {__CONTENT__}
    </div>
</div>


</body>
</html>
<script>
    //菜单高亮切换
    $('.waves-dark').on('click',function(e){
        $("#main-menu").find("a").removeClass("active-menu");
        $(this).addClass('active-menu');
    });

    //退出登录
    var requestUrl = 'http://localhost/demoCms/public/';
    $('#login-out').on('click', function(){
        layer.confirm('确认要退出登录？', {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.ajax({
                url: requestUrl + "index/login/loginOut",
                data:{},
                type:"Post",
                dataType:"json",
                success:function(data){
                    layer.msg(data.msg,{icon: 1});
                    window.location.href = requestUrl + "index/login/index";
                },
                error:function(data){
                    layer.msg(data.msg,{icon: 1});
                }
            });
        }, function(){
            layer.closeAll('dialog');
        });
    });
</script>