<!--/. NAV TOP  -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            {foreach name="tree" item="item" key="key"}
                {if condition = "isset($item.children) && $item.children neq null"}
                    <li>
                        <a href="#" class=" {if $item.id eq 1}active-menu {/if} waves-effect waves-dark">
                            <i class="fa {$item.ico}"></i>{$item.name}
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            {foreach name="$item.children" item = "citem" key="ckey"}
                                <li>
                                    <a href="{$citem.mca}">{$citem.name}</a>
                                </li>
                            {/foreach}
                        </ul>
                    </li>
                {else /}
                    <li>
                        <a href="#" class="{if $item.id eq 1}active-menu {/if} waves-effect waves-dark"><i class="fa {$item.ico}"></i>{$item.name}</a>
                    </li>
                {/if}
            {/foreach}
        </ul>
    </div>
</nav>
<!-- /. NAV SIDE  -->